.icon-style {
  display: inline-block;
  list-style: none;
  margin: 0px 8px 0px 8px;
}

.icon {
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
}

#icon-github {
  background-image: url('../assets/icon/github.svg');
}

#icon-linkedin {
  background-image: url('../assets/icon/linkedin.svg');
}

#icon-aboutme {
  background-image: url('../assets/icon/aboutme.svg');
}

#icon-instagram {
  background-image: url('../assets/icon/instagram.svg');
}

#icon-send {
  background-image: url('../assets/icon/send.svg');
}

#icon-github:hover {
  background-image: url('../assets/icon/github-invert.svg');
}

#icon-linkedin:hover {
  background-image: url('../assets/icon/linkedin-invert.svg');
}

#icon-aboutme:hover {
  background-image: url('../assets/icon/aboutme-invert.svg');
}

#icon-instagram:hover {
  background-image: url('../assets/icon/instagram-invert.svg');
}

#icon-send:hover {
  background-image: url('../assets/icon/send-invert.svg');
}

.invert {
  position: absolute;
}
