.intro-content {
  margin: auto;
  width: 40%;
  max-width: 500px;
}

#intro-profile-col {
  background-image: url('../assets/res/profile.jpg');
  background-size: 150px 150px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0px auto 40px;
}

#intro-text-col {
  margin: auto;
  text-align: center;
}

#intro-text-col p {
  margin: 0px 0px 20px 0px;
  max-width: 500px;
}

#intro-resume {
  margin-top: 50px;
  text-align: center;
}

#intro-resume a {
  color: inherit;
  text-decoration: none;
}

#intro-resume a:link {
  color: inherit;
  text-decoration: none;
}

#intro-resume a:active {
  color: inherit;
  text-decoration: none;
}

#intro-resume a:visited {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 620px) {
  .intro-content {
    width: 80%;
  }
}