/* General Settings */

html {
  overflow-x: hidden;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0px 0px 0px 0px;
}

.bold {
  font-weight: 700;
}

/* Boxes Settings */

.canvas-box {
  vertical-align: baseline;
}

.content-box {
  display: table;
  height: 920px;
  width: 100%;
}

.intro-box {
  height: 1200px;
  width: 100%;
  background-color: black;
}

.header-box {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin-top: 0px;
  z-index: 1;
}

.footer-box {
  color: white;
  background-color: black;
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  z-index: 1;
}
