/* General Settings */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;  
}

.bold {
  font-weight: 700;
}

.white-font {
  color: white;
}

/* Boxes Settings */

.canvas-box {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  display: table;
  height: 900px;
  width: 100%;
  perspective: 1px;
}

.intro-box {
  height: 900px;
  width: 100%;
  background-color: rgb(20, 20, 20);
}

.header-box {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin-top: 0px;
  z-index: 1;
}

.footer-box {
  background-color: rgb(20, 20, 20);
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  z-index: 1;
}
